extends layout_film
block content
    .container
        .row
            .col-8
                h1 #{dati['title']} - #{dati['year']}
                p.desc #{dati['synopsis']}
                - var video=dati['trailer'].split('/').reverse()[0];
                h1 Trailer:
                iframe(width="100%" height="300" src='https://www.youtube.com/embed/'+video frameborder="0" allowfullscreen)
                .spazio
                .spazio
                each lingua, index in dati['torrents']
                    h5 Lingua: #{index}
                    each link, index in lingua
                        p
                            a(href=link['url']) Link torrent #{index}
                            |(#{link['filesize']}, Seed:#{link['seed']}, Peer:#{link['peer']})
            .col-4
                .centerBlock
                    .spazio
                    img.img-fluid(src=dati['images']['poster'])