extends layout_film

block content
  .container
    .text-center
      p
        a(href='/film/'+tipo+'/'+prima) Precedente 
        |  pagina #{ora} di #{totale} 
        a(href='/film/'+tipo+'/'+dopo) Successiva
    each riga, i in righe
      .row
        each colonna, j in riga
          if colonna
            .col-3
              .centerBlock
                a(href="/film/info/"+colonna['_id']+'/al')
                  img.img-fluid(src=colonna['images']['poster'])
              h5.text-center #{colonna['title']}
              .text-center
                a(href="/film/info/"+colonna['_id']+'/al') Download
          else
            .col-3
    .text-center
      p
        a(href='/film/'+tipo+'/'+prima) Precedente 
        |  pagina #{ora} di #{totale} 
        a(href='/film/'+tipo+'/'+dopo) Successiva